[submodule "Fullstack-on-ElasticBeanstalk"]
	path = Fullstack-on-ElasticBeanstalk
	url = https://github.com/eedygreen/Full-Stack-Apps-in-AWS
[submodule "Monolith-Microservices"]
	path = Monolith-Microservices
	url = https://github.com/eedygreen/Monolith-Microservices.git
[submodule "Serverless-Fullstack-Application"]
	path = Serverless-Fullstack-Application
	url = https://github.com/eedygreen/Serverless-Fullstack-Application.git
